body {
font-family: 'Roboto', sans-serif;
padding: 0;
margin: 0;
}

/* navigation */
nav {
z-index: 99999;
position: fixed;
width: 100%;
margin: 0 auto;
background: #fff;
padding-top: 23px;
padding-bottom: 3px;
box-shadow: 0px 3px 0px #dedede;
background-image: linear-gradient(15deg, #f5ef36 0%, #fffed1 100%);
}

nav ul {
list-style: none;
text-align: center;
}

nav ul li {
display: inline-block;
}

nav ul li a {
display: block;
padding: 0px;
text-decoration: none;
color: #aaa;
font-weight: 800;
text-transform: uppercase;
margin: 0 50px;
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
transition: all .5s;
}

nav.shift ul li a {
position:relative;
z-index: 1;
}
nav.shift ul li a:hover {
color: #27221a;
}
nav.shift ul li a:after {
display: block;
position: absolute;
top: 0;
left: 0;
bottom: 0;
right: 0;
margin: auto;
width: 100%;
height: 1px;
content: '.';
color: transparent;
background: #F1C40F;
visibility: none;
opacity: 0;
z-index: -1;
}

nav.shift ul li a:hover:after {
opacity: 1;
visibility: visible;
height: 100%;
}

/* nav keyframes */
@-webkit-keyframes fill {
0% {
	width: 0%;
	height: 1px;
}
50% {
	width: 100%;
	height: 1px;
}
100% {
	width: 100%;
	height: 100%;
	background: #333;
}
}

@-webkit-keyframes circle {
0% {
	width: 1px;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	height: 1px;
	z-index: -1;
	background: #eee;
	border-radius: 100%;
}
100% {
	background: #aaa;
	height: 5000%;
	width: 5000%;
	z-index: -1;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	border-radius: 0;
}
}

/* contact */
input[type=text], select, textarea {
	width: 100%; /* Full width */
	padding: 12px; /* Some padding */  
	border: 1px solid #ccc; /* Gray border */
	border-radius: 4px; /* Rounded borders */
	box-sizing: border-box; /* Make sure that padding and width stays in place */
	margin-top: 6px; /* Add a top margin */
	margin-bottom: 16px; /* Bottom margin */
	resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
	background-color: #04AA6D;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
	background-color: #45a049;
  }
  